# folders
.serverless
**/.vscode
**/nebt-contracts/build
assets
compressedContracts
content
deploy-stats
dist
distContent
distPreRenders
distRenderer
events
fonts
node_modules
site-configs

# files
.env
*.DS_Store
*.lock
*.log
*.error