# folders
.serverless
**/.vscode
**/nebt-contracts/build
assets
compressedContracts
deploy-stats
dist
distContent
distPreRenders
distRenderer
events
fonts
node_modules
site-configs

# files
.env
*.DS_Store
*.log
*.error